In [ ]:
import mysql.connector 
import pandas as pd

In [ ]:
#DB connection & cursor creation
connection1=mysql.connector.connect(host ="localhost",
                                 user ="root",
                                 password="1234",
                                 database ="e_commerce")

print("DB connection sucessful")
cursorObject=connection1.cursor()
print("cursor created")

In [ ]:
#supplier table creation
cursorObject.execute("create table supplier(Supp_ID int(4) not null, Supp_name varchar(50), Supp_City Varchar(50), Supp_phone varchar(10))")

In [ ]:
#customer table creation
cursorObject.execute("create table customer(cus_id int(4) not null primary key, cus_name varchar(20) null default null, cus_phone varchar(10),cus_city varchar(30), cus_gender char(4))")

In [ ]:
#category table creation
cursorObject.execute("create table category(cat_id int(4) not null primary key, cat_name varchar(20) null default null)")

In [ ]:
#product table creation
cursorObject.execute("create table product(pro_id int(4) not null primary key, pro_name varchar(50) null default null, pro_desc varchar(60) null default null, cat_id int(4), foreign key (cat_id) references category(cat_id))")

In [ ]:
#product_details table creation
cursorObject.execute("create table product_details (prod_id int(4) primary key, pro_id int(4) not null, Supp_id int(4) not null,prod_price double not null, foreign key (pro_id) references product(pro_id))")

In [ ]:
#orders table creation
cursorObject.execute("create table orders (ord_id int(4) primary key, ord_amount double null, ord_date date, cus_id int(4) not null, prod_id int(4) not null, foreign key (cus_id) references customer(cus_id), foreign key (prod_id) references product_details(prod_id))")

In [ ]:
#rating table creation
cursorObject.execute("create table rating (rat_id int(4) primary key, cus_id int(4) not null, Supp_ID int(4) not null, rat_ratstars int(4) not null, foreign key (cus_id) references customer(cus_id), foreign key (Supp_ID) references supplier(Supp_ID))")

In [ ]:
#category table insertion
sql_stmt= "insert into category(cat_id,cat_name) values (%s,%s)"
vals = [
            ('16','BOOKS'),
            ('12','GAMES'),
            ('13','GROCERIES'),
            ('14','ELECTRONICS'),
            ('15','CLOTHS')
        ]
cursorObject.executemany(sql_stmt,vals)
connection1.commit()
print(cursorObject.rowcount,"was inserted @CATEGORY Table")

In [ ]:
#supplier table insertion
sql_stmt="insert into supplier(Supp_ID, Supp_name,Supp_city, Supp_phone) values (%s,%s,%s,%s)"
vals =[
        ('1','Rajesh Retails','Delhi','9706041508'),
        ('2','Appario Ltd','Mumbai','9706041507'),
        ('3','Knome Pr;oducts','Bangalore','9785462315'),
        ('4','Bansal Retails','Kochi','8975463285'),
        ('5','Mittal Ltd','Lucknow','7898456532')
]
cursorObject.executemany(sql_stmt,vals)
connection1.commit()
print(cursorObject.rowcount,"was inserted @Supplier Table")

In [ ]:
#customer table insertion
sql_stmt="insert into customer(cus_id,cus_name,cus_phone,cus_city,cus_gender) values (%s,%s,%s,%s,%s)"
vals =[
        ('1','AAKASH','9999999999','DELHI','M'),
        ('2','AMAN','9785463215','NOIDA','M'),
        ('3','NEHA','9999999998','MUMBAI','F'),
        ('4','MEGHA','9994562399','KOLKATA','F'),
        ('5','PULKIT','7895999999','LUCKNOW','M')
]
cursorObject.executemany(sql_stmt,vals)
connection1.commit()
print(cursorObject.rowcount,"was inserted @Customer Table")

In [ ]:
#product table insertion
sql_stmt="insert into product(pro_id,pro_name,pro_desc,cat_id) values (%s,%s,%s,%s)"
vals =[
        ('1','GTA V','DFJDJFDJFDJFDJFJF','2'),
        ('2','TSHIRT','DFDFJDFJDKFD','5'),
        ('3','ROG LAPTOP','DFNTTNTNTERND','4'),
        ('4','OATS','REURENTBTOTH','5'),
        ('5','HARRY POTTER','NBEMCTHTJTH','1')
]
cursorObject.executemany(sql_stmt,vals)
connection1.commit()
print(cursorObject.rowcount,"was inserted @Product Table")

In [ ]:
#product_details table insertion
sql_stmt ="insert into product_details(prod_id,pro_id,Supp_id,prod_price) values (%s,%s,%s,%s)"
vals =[
        ('1','1','2','1500'),
        ('2','3','5','30000'),
        ('3','5','1','3000'),
        ('4','2','3','2500'),
        ('5','4','1','1000')
]
cursorObject.executemany(sql_stmt,vals)
connection1.commit()
print(cursorObject.rowcount,"was inserted @Product_details Table")

In [ ]:
#order table insertion
sql_stmt="insert into orders(ord_id,ord_amount,ord_date,cus_id,prod_id) values (%s,%s,%s,%s,%s)"
vals=[
        ('20','1500','2021-10-12','3','5'),
        ('25','30500','2021-09-16','5','2'),
        ('26','2000','2021-10-05','1','1'),
        ('30','3500','2021-08-16','4','3'),
        ('50','2000','2021-10-06','2','1')
]
cursorObject.executemany(sql_stmt,vals)
connection1.commit()
print(cursorObject.rowcount,"was inserted @Orders Table")

In [ ]:
#rating table insertion
sql_stmt="insert into rating(rat_id,cus_id,Supp_id,rat_ratstars) values (%s,%s,%s,%s)"
vals=[
        ('1','2','2','4'),
        ('2','3','4','3'),
        ('3','5','1','5'),
        ('4','1','3','2'),
        ('5','4','5','4')
]
cursorObject.executemany(sql_stmt,vals)
connection1.commit()
print(cursorObject.rowcount,"was inserted @Rating Table")

In [ ]:
# Q3 solution
query="""select c.cus_gender as Gender, count(c.cus_gender) as Count from customer c inner join orders o on c.cus_id=o.cus_id 
        where o.ord_amount >= 3000
        group by c.cus_gender;"""
cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['Cus_Gender','Count'])
outputdf

In [ ]:
#Q4 Solution
query="""select c.cus_id,c.cus_name,p.pro_name,pdt.prod_id,o.ord_id,o.ord_amount,o.ord_date
         from customer c, orders o, product p, product_details pdt
         where 
         c.cus_id=o.cus_id and o.prod_id=pdt.prod_id and p.pro_id=pdt.pro_id and 
         c.cus_id=2;"""
cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['Customer_ID','Customer_Name','ProductName','ProductID','OrderID','OrderAmount','OrderDate'])
outputdf

In [ ]:
#Q5 Solutions
query="""select s.Supp_name,s.Supp_id,s.Supp_City,s.Supp_phone from supplier s inner join
        (	select distinct(Supp_id) from product_details
            group by Supp_id
            having count(Supp_id)>1
        ) as pdt
        on s.Supp_id=pdt.Supp_id;"""
cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['SupplierName','SupplierID','City','ContactNo'])
outputdf

In [ ]:
#Q10 Solutions
query="""select sum(o.ord_amount),c.cus_gender from 
        customer c, orders o
        where 
        c.cus_id=o.cus_id and
        c.cus_gender='M';"""
cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['TotalOrderAmount','Gender'])
outputdf

In [ ]:
#Q9 solutions
query="""select c.cus_name,c.cus_gender from customer c
        where c.cus_name like '%a%' or '%A%' ;"""
cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['CustomerName','Gender'])
outputdf

In [ ]:
#Q7 Solutions
query="""select p.pro_id,p.pro_name from orders o, product p, product_details pdt 
        where 
        o.prod_id=pdt.prod_id
        and p.pro_id=pdt.pro_id
        and o.ord_date >'2021-10-05' order by p.pro_id;"""
cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['ProductID','ProductName'])
outputdf

In [ ]:
#Q11 Solution
query="""select customer.cus_id,customer.cus_name,customer.cus_phone,customer.cus_city,customer.cus_gender
         from customer 
         left join orders on
         customer.cus_id=orders.cus_id;"""
cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['CustomerID','Name','Phone','City','Gender'])
outputdf

In [ ]:
#Q6 Solutions

query="""select category.* from orders inner join product_details on 
        orders.prod_id=product_details.prod_id 
        inner join product on product.pro_id=product_details.pro_id
        inner join category on category.cat_id=product.cat_id having (min(orders.ord_amount))"""

cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['CategoryID','CategoryName'])
outputdf

In [ ]:
#Q8 Solution
query="""select * from
            customer as cus inner join rating as rat 
            on cus.cus_id=rat.cus_id
            inner join supplier as sup
            on sup.Supp_id=rat.Supp_id
            having max(rat.rat_ratstars)"""
cursorObject.execute(query)
myresult=cursorObject.fetchall()
outputdf=pd.DataFrame(myresult,columns=['SupplierID','SupplierName','CustomerName','Rating'])
outputdf

In [ ]:
cursorObject.close()
connection1.close()
print("All Connection are closed")